doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cookery 
    body
        header
            div
                img(src="", alt="")
                | Cookery
            input(type="text")
            div
                a(href="http://")
                    img(src="", alt="")
                a(href="")
                    img(src="", alt="")
        section 
            img(src="", alt="")
            h1 High taste cookery production site
        section 
            h1 Meals | Drinks | Special            
            div
                - let data = [1, 2, 3]
                each value, index in data
                    div 
                        img(src="", alt="")
                        h1.
                            A particular food 
                        p.
                            Details about the food Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Laboriosam, assumenda! Repudiandae laudantium pariatur maiores quam excepturi aperiam architecto nostrum
                            voluptate voluptatibus sequi molestias molestiae quidem corrupti repellendus ipsam, esse odit?